extends layout



block content
  h1= "Some Useful Government Service"
  //p Welcome to #{title}
  form#form1(name='form1', method='post', action='/create')
      p
        label
          //label
          //  |
            br
          | Name
          input#name(type='text', name='name', placeholder='Please Input Name', style='margin-left: 40px;')
      p
        div.control-group
        label.control-label Sex
        div.controls
          label.radio.inline
            input(type="radio", name="optionsRadios", id="optionsRadios1", value="option1", checked="", style='margin-left: 80px;')
            | Male
          label.radio.inline
            input(type="radio", name="optionsRadios", id="optionsRadios2", value="option2", style='margin-left: 20px;')
            | Female
      p
        label
          | Age
          input#age(type='number', name='age', placeholder='Your Age', style='margin-left: 53px;')
      p
        label
          | Country
          input#country(type='select2', name='country', value='', placeholder='Choose Country', style='margin-left: 24px;')
      p
        label
          input#submit(type='submit', name='submit', value='Apply')

